<!DOCTYPE html>
<html>

<head>
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

</head>

<body>
  <nav><a href="/">Post a new message</a></nav>
  <% if (!posts.length) { %>
  <h1>No messages yet</h1>
  <% } else { %>

  <h1>Here are all the messages:</h1>

  <% posts.forEach(post =>{ %>
  <div class='msg_wrapper'>
    <div>
      <p class="black">User:
        <%= post.dataValues.id%>
      </p>
    </div>
    <div>
      <p class="black">Title:</p>
      <p>
        <%= post.dataValues.title%>
      </p>
    </div>
    <div>
      <p class="black">Message:</p>
      <p>
        <%= post.dataValues.body%>
      </p>
    </div>
  </div>
  <% }) %>
  <% } %>

</body>

</html>